<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem Vindo ao classificador de candidatos Vagas.com
  </h1>
</div>

<h3> Ordernar os candidados de acordo com suas pontuações para as vagas
  em que se candidataram, clique no botão abaixo:
</h3>

<button (click)="orderCandidatesForJobs()"> CLASSIFICAR CANDIDATOS </button>

<div>
<h4> Instruções sobre o back-end utilizado e os REST-apis disponiveis se encontram no link abaixo. </h4>
<p>Executar o comando para subir o back-end: <b> 'npm run json-server' ou 'json-server --watch db.json'</b> </p>
<p>REST APIs para as operações de leitura/escrita podem ser executadas utilizando o POSTMAN. É necessario
  instalar o node.js na maquina.
</div>

<a href="https://github.com/cardosojvictor/poc-vagas.com/blob/master/README.md"> 
<strong> Documentação e instruções sobre como rodar o app, clique aqui. </strong> </a> <br>