<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem Vindo ao classificador de candidatos Vagas.com
  </h1>
</div>

<h3> Ordernar os candidados de acordo com suas pontuações para as vagas
  em que se candidataram, clique no botão abaixo:
</h3>

<button (click)="orderCandidatesForJobs()"> CLASSIFICAR CANDIDATOS </button>

<div>
<h4> Instruções sobre o back-end utilizado e os REST-apis disponiveis: </h4>
<p>Executar o comando para subir o back-end: <b> npm run json-server </b> </p>
<p>REST APIs para as operações de leitura/escrita, POSTs e GETs:</p>

<a href="http://localhost:3000/jobs"> <strong> http://localhost:3000/jobs </strong> </a> <br>
<a href="http://localhost:3000/candidates"> <strong> http://localhost:3000/candidates </strong> </a> <br>
<a href="http://localhost:3000/jobApplications"> <strong> http://localhost:3000/jobApplications </strong>  </a> <br>
<a href="http://localhost:3000/candidatesRanking"> <strong> http://localhost:3000/candidatesRanking </strong> </a> <br>


</div>

<!-- <button (click)="loadData()">Load New Data - new Candidates, New Jobs Or new Job Applications</button> -->